@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    transition: all 0.2s ease;
}

a:not(:has(svg, img)):hover {
    opacity: 0.5;
}

.c2a {
    @apply bg-backgroundSand;
    transition: all 0.5s ease;
}

.c2a:hover {
    opacity: 1;
    @apply bg-transparent text-black;
}

body {
    letter-spacing: 0.5px;
    line-height: 1.5;
    @apply text-pretty;
}
